APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:2sYPgtSL8S+a69nteGDv388exgzo84ThE4koqXNLjmk=
APP_DEBUG=true
APP_TIMEZONE=Europe/Moscow
APP_URL=http://localhost
APP_LANDING_URL=
DIST_URL=

ADMIN_TOKEN=
CRYPT_KEY=

SSO_URL=
DESKTOP_SSO_REDIRECT_URL=
DESKTOP_CLIENT_ID=
DESKTOP_CLIENT_SECRET=

MOBILE_SSO_REDIRECT_URL=
MOBILE_CLIENT_ID=
MOBILE_CLIENT_SECRET=

INSTUDY_SECRET=

ESB_URL=
ESB_TOKEN_TTL=2100
ESB_ADAPTER=

INSTUDY_GPT_API_KEY=
INSTUDY_GPT_INTEGRATION_DOMAIN=

IMOBIS_API_TOKEN=
IMOBIS_URL=https://api.imobis.ru/v3/

TIME_RESTRICTION_START=18:40
TIME_RESTRICTION_END=19:20

APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru
APP_FAKER_LOCALE=ru

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=instudy
# DB_DATABASE=instudy_admin

DB_USERNAME=postgres
DB_PASSWORD=root
DB_POOL_MIN=5
DB_POOL_MAX=50
DB_CONNECT_TIMEOUT=10
DB_WAIT_TIMEOUT=60
HTTP_TIMEOUT=30

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

HELP_MAIL=
MTS_MAIL=

MAIL_MAILER=smtp
MAIL_HOST=smtp.mail.ru
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ru-central1
AWS_BUCKET=
AWS_ENDPOINT=https://storage.yandexcloud.net
AWS_USE_PATH_STYLE_ENDPOINT=false
YANDEX_S3_URL=

VITE_APP_NAME="${APP_NAME}"

REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"

ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
ONESIGNAL_API_URL=https://api.onesignal.com
